# IntelliJ project files
.idea
.idea/
*.iml
*.ipr
*.iws
.idea/artifacts/h5hotel4j_war_exploded.xml
.idea/workspace.xml
*.DS_Store
h5hotel4j.iml
rebel.xml
target

package-lock.json
build.json

out
gen
catalina.home_IS_UNDEFINED
log.server_IS_UNDEFINED

# protobuf files
*.proto

# Maven
target/
*.ser
*.ec

# Eclipse
.classpath
.project
.settings/
.metadata/



# nodejs
node_modules/
/.idea
/logs
/npm-debug.log

# dev model files
cc.js
cc.txt
cc.json
cc1.json

