@import 'variables';

@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1kmkui');
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1kmkui#iefix')
            format('embedded-opentype'),
        url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?1kmkui')
            format('truetype'),
        url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?1kmkui')
            format('woff'),
        url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?1kmkui##{$icomoon-font-family}')
            format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-font {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-location {
    &:before {
        content: $icon-location;
    }
}
.icon-right-arrow {
    &:before {
        content: $icon-right-arrow;
    }
}
.icon-refresh {
    &:before {
        content: $icon-refresh;
    }
}
.icon-left-arrow {
    &:before {
        content: $icon-left-arrow;
    }
}
.icon-location2 {
    &:before {
        content: $icon-location2;
    }
}
.icon-location3 {
    &:before {
        content: $icon-location3;
    }
}
.icon-filter {
    &:before {
        content: $icon-filter;
    }
}
.icon-check {
    &:before {
        content: $icon-check;
    }
}
.icon-image {
    &:before {
        content: $icon-image;
    }
}
.icon-good {
    &:before {
        content: $icon-good;
    }
}
.icon-love {
    &:before {
        content: $icon-love;
    }
}
.icon-train {
    &:before {
        content: $icon-train;
    }
}
.icon-plane {
    &:before {
        content: $icon-plane;
    }
}
.icon-question {
    &:before {
        content: $icon-question;
    }
}
.icon-image-small {
    &:before {
        content: $icon-image-small;
    }
}
.icon-location4 {
    &:before {
        content: $icon-location4;
    }
}
.icon-share {
    &:before {
        content: $icon-share;
    }
}
.icon-down {
    &:before {
        content: $icon-down;
    }
}
.icon-warning {
    &:before {
        content: $icon-warning;
    }
}
.icon-right-arrow2 {
    &:before {
        content: $icon-right-arrow2;
    }
}
.icon-star {
    &:before {
        content: $icon-star;
    }
}
.icon-acount {
    &:before {
        content: $icon-acount;
    }
}
.icon-clear {
    &:before {
        content: $icon-clear;
    }
}
.icon-phone {
    &:before {
        content: $icon-phone;
    }
}
.icon-pwd-hide {
    &:before {
        content: $icon-pwd-hide;
    }
}
.icon-pwd-show {
    &:before {
        content: $icon-pwd-show;
    }
}
.icon-pwd {
    &:before {
        content: $icon-pwd;
    }
}
.icon-valid {
    &:before {
        content: $icon-valid;
    }
}
.icon-warn-tips {
    &:before {
        content: $icon-warn-tips;
    }
}
