$icomoon-font-family: 'crn_font_sale' !default;
$icomoon-font-path: '../icons' !default;

$fit: 40;

$icon-location: '\e900';
$icon-right-arrow: '\e901';
$icon-refresh: '\e902';
$icon-left-arrow: '\e903';
$icon-location2: '\e904';
$icon-location3: '\e905';
$icon-filter: '\e906';
$icon-check: '\e907';
$icon-image: '\e908';
$icon-good: '\e909';
$icon-love: '\e90a';
$icon-train: '\e90b';
$icon-plane: '\e90c';
$icon-question: '\e90d';
$icon-image-small: '\e90e';
$icon-location4: '\e90f';
$icon-share: '\e910';
$icon-down: '\e911';
$icon-warning: '\e912';
$icon-right-arrow2: '\e913';
$icon-star: '\e914';
$icon-acount: '\e915';
$icon-clear: '\e916';
$icon-phone: '\e917';
$icon-pwd-hide: '\e918';
$icon-pwd-show: '\e919';
$icon-pwd: '\e91a';
$icon-valid: '\e91b';
$icon-warn-tips: '\e91c';
