@import '../../styles/cstyle.scss';

.top-column {
    background-color: #ddd;
    height: 90rem / $fit;
}

.top-search {
    background: #eee;
    height: 100rem / $fit;
    margin-bottom: 10rem / $fit;
}

.layout-main {
    height: 100rem/ $fit;
    width: 827rem/ $fit;
    margin: 0 auto;
}

.top-nav-bar {
    font-size: 14rem / $fit;
    height: 30rem / $fit;
    border: 1rem/$fit solid #dee3eb;
    margin-bottom: 10rem / $fit;
}

.user-sites {
    font-size: 14rem / $fit;

    display: flex;

    li {
        margin-left: 24rem/$fit;
        width: 80rem/$fit;
    }
}